/* Foram.css */

/* Container styles */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #f7eedd;
  }
  
  /* Heading styles */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  /* Form styles */
  .form-group {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Button styles */
  button {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 50px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Animation styles */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1s;
  }
  
  .App{
    background-color: #ccc;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 15px;
  }
  .inp{
    border-radius: 30px;
  }
