.sub{
    border-radius : 30px;
}

.App{
    width : 50%;
    height: auto;
}

.img1{
    width : auto;
    height: 70vh;
    
}

/*.image1{

    border-width: 3px;
    border-color: black;
}*/

.main{
    
}
