body {
  background-image: url("bg_img1.png");
  background-size: cover;
  /* opacity: 0.95; */
}

.App {
  opacity: 1;
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e0e0e0;

}



h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: whitesmoke;
  border-radius: 18px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right center;
  background-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
  outline: none;
  border-color: #3399cc;
}

input[type="text"]:hover,
input[type="email"]:hover,
select:hover {
  border-color: #3399cc;
}

button {
  width: 100%;
  background-color: #3399cc;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-size: 16px;
  opacity: 1;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #267aa7;
}
