.password-input {
    position: relative;
  }
  .container{

    background-color: #f7eedd;
  }
  .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .eye-icon:before {
    content: "👁️";
  }
  
  .eye-icon.hidden:before {
    content: "👁️";
  }
  
  .eye-icon.visible:before {
    content: "👁️";
  }
  