@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 640px) {
  ::-webkit-scrollbar {
    display: none;
  }

  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(233, 233, 233);
}
body.dark ::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(33, 33, 33);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(204, 204, 204);
  border-radius: 4px;
}
body.dark ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(52, 52, 52);
  border-radius: 4px;
}

.hide-scroll ::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input textarea {
  outline: none !important;
}

/* body {
  user-select: none;
}
input,
textarea {
  user-select: auto;
} */

.DialogOverlay {
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  transform: translate(-50%, -50%);

  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}
