.container {
    text-align: center;
    width: 100%;
    max-width: 100%; /* Allow the container to occupy the full width */
    /* Enable horizontal scrolling */
    
    white-space: nowrap; /* Prevent wrapping of elements */
  }

.overflow-x-scroll{
  overflow-x: auto;
}
  .movie-list {
    display: inline-flex;
    margin-top: 20px;
    flex-direction: row; /* Arrange movies in a horizontal row */
    flex-wrap: nowrap; /* Prevent wrapping of movies to next line */
  }
  
  
  
  .movie-card {
    width: 220px; /* Set a fixed width for each movie card */
    height: 330px; /* Set a fixed height for each movie card */
    border-radius: 10px;
    overflow: hidden; /* Hide any overflow content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    transition: transform 0.3s, box-shadow 0.3s;
    margin-right: 10px; /* Add margin between movie cards */
  }
  
  .movie-card:last-child {
    margin-right: 0; /* Remove margin from the last movie card to prevent extra spacing */
  }
  
  .movie-card img {
    width: 100%; /* Ensure image fills the container */
    height: 100%; /* Ensure image fills the container */
    /*object-fit: cover;  Resize image to cover the container */
    border-radius: 10px;
  }
  
  /* Optional: Hide scrollbar */
  .container::-webkit-scrollbar {
    display: none;
  }
  